- src: git+https://github.com/nehrman/aws.git
  name: aws
  version: master

- src: git+https://github.com/nehrman/azure.git
  name: azure
  version: master

# - src: https://github.com/nehrman/vmw
#   name: vmw
#   version: master
