- src: https://github.com/nehrman/aws.git
  scm: git
  name: nehrman.aws
  version: master

- src: https://github.com/nehrman/azure.git
  scm: git
  name: nehrman.azure
  version: master

- src: https://github.com/nehrman/vmw
  scm: git
  name: nehrman.vmw
  version: master
